div {
    width: 100%;
    background-color: #003f5c;
    color: white;
    padding: 20px;
}
h1 {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.inactive{
    background-color: gainsboro;
    color: black;
}

.active {
    background-color: deepskyblue;
}